/* SOCIAL SIDEBAR PANEL  */
.social-sidebar {
    position: fixed;
    top: 130px; 
    left: 0; 
    width: 6%; 
    z-index: 1500; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.portal-main-footer, #footer-placeholder {
    position: relative;
    z-index: 2000 !important; 
    background: #fff; 
}

.social-sidebar.sidebar-hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
}

.social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #000 !important;
    text-decoration: none !important;
    margin-bottom: 35px;
    cursor: pointer;
    gap: 14px;
}

.social-icon span {
    writing-mode: vertical-lr; 
    transform: rotate(-180deg); 
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #000;
    white-space: nowrap;
    transition: color 0.2s ease;
}

.social-icon i {
    font-size: 16px;
    color: #000;
    transition: color 0.2s ease;
}


.social-icon:hover i,
.social-icon:hover span {
    color: #1e7e34; 
}